{% extends 'dummy.html' %}


{% block title %}
    <title>User_Login</title>
{% endblock %}

{% block block_body %}
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <br><br>
            <label for="un">User_Name</label>
            <input type="text" name="un" id="un"><br><br>
            
            <label for="pw">Password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="Login">
        </form>


        
    </center>
{% endblock %}